{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container-fluid bg-primary" style="height:80px; margin-bottom:50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="banner ">
                <div class="banner-text text-center fw-bold">
                    <h1>ToDo</h1>
             </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center ">
    <div class="col-md-4 ">
<div class="form-control mb-2 bg-dark text-success border border-success ">
<form method="POST">
    {% csrf_token %}
    {{key|crispy}}
    <div class="text-center">
    <button type="submit" class="btn btn-success ">Submit</button>
    </div>
</form>
</div>
    </div>
</div>





{% endblock %}